<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>تسجيل دخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
      class="margin-input"
        label-placement="floating"
        fill="outline"
        label="الإيميل أو الموبايل"
        [(ngModel)]="user.email"
        placeholder="أدخل الإيميل أو الموبايل لتسجيل الدخول"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
      class="margin-input"
        label="كلمة السر"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="user.password"
        value="password"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle
      ></ion-input>
    </ion-item>
  </ion-list>
  <p class="error">{{error}}</p>

  <ion-button expand="block" color="primary" (click)="loginUser(user)">
    <ion-icon name="log-in-outline"></ion-icon> دخول
  </ion-button>

  <ion-button
  (click)="close()"
  [routerLink]="['/register']"
    type="button"
    expand="block"
    color="medium"
    fill="clear"
  >
    <ion-label class="main-color"> تسجيل حساب جديد </ion-label>
  </ion-button>
</ion-content>
