<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row pager="true">
      <ion-text color="light">
        <img src="assets/images/haraj.jpg" />
        <h1>مرحبا بك</h1>
        <p>موقع حراج تمور السعودية يرحب بك ويتمنى لك زيارة ممتعه</p>
        <ion-button 
        
         fill="outline" color="light">
          التالى
        </ion-button>
      </ion-text>
      <ion-text color="light">
        <img src="assets/images/haraj.jpg" />
        <h1>جاهز للتسوق</h1>
        <p>التسوق معنا اسهل واسرع مما تتخيل</p>
        <ion-button (click)="start()" fill="outline" color="light">
          جاهز
        </ion-button>
      </ion-text>
  </ion-row>
</ion-content>