<ion-content [fullscreen]="true">
  <ion-row class="main-row">
    <ion-card *ngFor="let center of centersList">
      <ion-card-header>
        <ion-card-title>{{center.name}}</ion-card-title>
      </ion-card-header>
      <div *ngIf="center.daysList && center.daysList.length > 0">
        <div *ngFor="let _day of center.daysList">
          <p class="day-name">{{_day.day.nameAr}}
            <span *ngFor="let _a of _day.appointmentsList" class="time-day">{{_a.startTime |date:"hh:mm a"}}</span>
          </p>
        </div>
      </div>
      <ion-card-content>
        {{center.address}}
      </ion-card-content>
      <div>
          <ion-button color="light" href="tel:{{center.mobile}}" expand="block">
            {{center.mobile}}
            <ion-icon name="phone-portrait-outline"></ion-icon>
          </ion-button>
     
          <iframe height="100px" id="location_{{center.id}}" ></iframe>
      </div>
    </ion-card>
  </ion-row>
</ion-content>
