ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.has-focus.input-fill-outline.ion-valid.sc-ion-input-md-h,
.input-fill-outline.ion-touched.ion-invalid.sc-ion-input-md-h {
  --border-color: blue;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: blue;
}

ion-menu::part(backdrop) {
  background-color: rgb(0 53 255 / 70%);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgb(0 53 255 / 70%);
}
.blue {
  color: blue;
}

.list-menu {
  height: 35px;
  color: blue;

}

.menu-main {
  top : 100px
}
.center {
  text-align: center;
}

.my-menu {
  margin-right: 10px;
}

.logo {
  object-fit: fill;
  height: 80px;
  display: inline;
  border-radius: 5px;
  float: right;
  max-width: 180px;
}

.margin-input {
  margin: 10px 0px 10px 0px;
}

.siteName {
  -webkit-background-clip: text;
  font-size: 20px;
  font-weight: bold;
  text-wrap: pretty;
  font-family: fangsong;
  text-align: right;
  top: 27px;
  position: relative;
}

.contain-register-login {
  place-content: center;
}

.user-logo {
  height: 70px;
  width: 70px;
  display: inline-table;
}

.user-logo::part(image) {
border-radius: 50%;
}

.user-name {
  bottom: 15px;
  font-size: 23px;
  position: sticky;
  margin: 10px;
  font-weight: bold;
}