<ion-app>
  <ion-header [translucent]="true" dir="rtl">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-img
        [routerLink]="['/welcome']"
        class="logo"
        [src]="setting.logoUrl"
      ></ion-img>
      <ion-title class="siteName" *ngIf="setting.nameBesidLogoShow">{{
        setting.siteName
      }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-split-pane>
    <ion-menu
      id="main-menu"
      contentId="main-content"
      menuId="main-menu"
      side="end"
      type="overlay"
    >
      <ion-content dir="rtl" class="menu-main">
        <ion-row class="contain-register-login" *ngIf="!userSession.id">
          <ion-menu-toggle>
            <ion-button color="primary" (click)="login()">
              دخول
              <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-button color="secondary" [routerLink]="['/register']">
              تسجيل
              <ion-icon name="person-add-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-row>

        <div *ngIf="userSession.id">
          <ion-list-header
            ><ion-img
              class="user-logo"
              src="{{ userSession.imageUrl }}"
            ></ion-img>
            <ion-text class="user-name">{{ userSession.firstName }}</ion-text>
          </ion-list-header>
        </div>

        <ion-row class="contain-register-login" *ngIf="userSession.id">
          <ion-menu-toggle>
            <ion-button
              color="light"
              (click)="hideMenu()"
              [routerLink]="['/user-manage']"
            >
              <ion-label> إدارة حسابي </ion-label>
              <ion-icon name="settings-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-button color="danger" (click)="logout(); hideMenu()">
              <ion-label> تسجيل خروج </ion-label>
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-row>

        <ion-button
          *ngIf="
            setting.isShared &&
            isite.session &&
            isite.session.selectedTeacherId > 0
          "
          color="dark"
          expand="block"
          (click)="exitTeacher(); hideMenu()"
        >
          خروج {{ isite.session.selectedTeacherName }}
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>

        <ion-list id="inbox-list" *ngIf="userSession.id && userSession.type == 'student'">
          <ion-menu-toggle *ngIf="setting.showPackages">
            <ion-item
              routerDirection="root"
              [routerLink]="['/packages']"
              [queryParams]="{ id: userSession.id }"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon name="layers-outline"></ion-icon>

              <ion-label class="my-menu">مجموعاتي</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle
            *ngIf="
              setting.showLectures &&
              (!session || userSession.placeType == 'offline')
            "
          >
            <ion-item
              routerDirection="root"
              [routerLink]="['/lectures']"
              [queryParams]="{ id: userSession.id }"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon name="desktop-outline"></ion-icon>

              <ion-label class="my-menu">محاضراتي</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="setting.showMiniBooks">
            <ion-item
              routerDirection="root"
              [routerLink]="['/mini-books']"
              [queryParams]="{ type: 'myMiniBooks' }"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon name="layers-outline"></ion-icon>

              <ion-label class="my-menu">مذكراتي</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="setting.showBooks">
            <ion-item
              routerDirection="root"
              [routerLink]="['/books']"
              [queryParams]="{ id: userSession.id }"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon name="library"></ion-icon>
              <ion-label class="my-menu">كتبي</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-menu-toggle>
            <ion-item
              class="list-menu"
              lines="none"
              [routerLink]="['/page-view']"
              [queryParams]="{
                type: 'invite-friends'
              }"
            >
              <ion-label>أدع أصدقاءك</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item
              class="list-menu"
              lines="none"
              [routerLink]="['/page-view']"
              [queryParams]="{
                type: 'join-us'
              }"
            >
              <ion-label>إنضم إلينا</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item
              class="list-menu"
              lines="none"
              [routerLink]="['/page-view']"
              [queryParams]="{
                type: 'usage-agreement'
              }"
            >
              <ion-label>إتفاقية الإستخدام</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item
              class="list-menu"
              lines="none"
              [routerLink]="['/page-view']"
              [queryParams]="{
                type: 'privacy-policy'
              }"
            >
              <ion-label>سياسة الخصوصية</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

    <ion-tabs dir="rtl">
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/welcome']">
          <ion-icon name="home-outline"></ion-icon>
          الرئيسية
        </ion-tab-button>

        <ion-tab-button
          [routerLink]="['/packages']"
          *ngIf="setting.showPackages"
        >
          <ion-icon name="layers-outline"></ion-icon>
          مجموعات
        </ion-tab-button>
        <ion-tab-button
          [routerLink]="['/lectures']"
          *ngIf="
            setting.showLectures &&
            (!session || userSession.placeType == 'offline')
          "
        >
          <ion-icon name="desktop-outline"></ion-icon>
          محاضرات
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/books']" *ngIf="setting.showBooks">
          <ion-icon name="library"></ion-icon>
          كتب
        </ion-tab-button>
        <ion-tab-button
          [routerLink]="['/notifications']"
          *ngIf="session && userSession.id"
        >
          <ion-icon name="notifications-outline"></ion-icon>
          إشعارات
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
