<ion-content [fullscreen]="true">
  <ion-row class="main-row">
    <div>
      <ion-list>
        <ion-item>
          <div (click)="selectImage('image')" class="upload-img">
            <p>
              صورة شخصية
              <ion-icon name="camera-outline"></ion-icon>
            </p>
            <img class="img-upload" [src]="user.$_imageUrl" />
          </div>
        </ion-item>

        <ion-item>
          <ion-input
            class="margin-input"
            label-placement="floating"
            fill="outline"
            label="الإسم الرباعي"
            [(ngModel)]="user.firstName"
            [clearInput]="true"
            placeholder="أدخل إسمك بالكامل"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="margin-input"
            label-placement="floating"
            fill="outline"
            label="إسم المستخدم"
            [(ngModel)]="user.userName"
            [clearInput]="true"
            placeholder="أدخل إسم المستخدم"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="margin-input"
            label-placement="floating"
            fill="outline"
            label="موبايل"
            type="tel"
            [(ngModel)]="user.mobile"
            [clearInput]="true"
            placeholder="أدخل رقم موبايلك"
          ></ion-input>
        </ion-item>

        <ion-item *ngIf="user.type == 'student'">
          <ion-input
            class="margin-input"
            label-placement="floating"
            fill="outline"
            label="هاتف ولي الأمر"
            type="tel"
            [(ngModel)]="user.parentMobile"
            [clearInput]="true"
            placeholder="أدخل هاتف ولي الأمر"
          ></ion-input>
        </ion-item>

        <ion-item *ngIf="user.type == 'student'&& isite.setting.showParent">
          <ion-row>
            <ion-col size="9">
              <ion-input
                class="margin-input"
                label-placement="floating"
                fill="outline"
                label="بحث بريد أو رقم موبايل تسجيل ولي الأمر"
                [(ngModel)]="parentSearch"
                [clearInput]="true"
                placeholder="أدخل بريد أو رقم تسجيل الدخول ولي الأمر"
              ></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-button
                expand="block"
                color="secondary"
                (click)="getParentsList()"
              >
                بحث
                <ion-icon name="search-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <div class="parent-div" *ngIf="user.parent">
              <span>الوالد/ة : </span>
              <span>{{user.parent.firstName}}</span>
            </div>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-select
            interface="action-sheet"
            [(ngModel)]="user.$country"
            (ionChange)="getGovesList(user.$country)"
            placeholder="إختر دولتك"
          >
            <div slot="label">
              الدولة <ion-text color="danger">(مطلوب)</ion-text>
            </div>
            <ion-select-option
              *ngFor="let country of countriesList"
              value="{{country.id}}"
              >{{country.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select
            interface="action-sheet"
            (ionChange)="getCitiesList(user.$gov)"
            [(ngModel)]="user.$gov"
            placeholder="إختر محافظتك"
          >
            <div slot="label">
              المحافظة <ion-text color="danger">(مطلوب)</ion-text>
            </div>
            <ion-select-option *ngFor="let gov of govesList" value="{{gov.id}}"
              >{{gov.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item *ngIf="isite.setting.citiesAndAreasShow">
          <ion-select
            interface="action-sheet"
            (ionChange)="getAreasList(user.$city)"
            [(ngModel)]="user.$city"
            placeholder="إختر مدينتك"
          >
            <div slot="label">المدينة <ion-text color="danger"></ion-text></div>
            <ion-select-option
              *ngFor="let city of citiesList"
              value="{{city.id}}"
              >{{city.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item *ngIf="isite.setting.citiesAndAreasShow">
          <ion-select
            interface="action-sheet"
            [(ngModel)]="user.$area"
            placeholder="إختر منطقتك"
          >
            <div slot="label">المنطقة <ion-text color="danger"></ion-text></div>
            <ion-select-option
              *ngFor="let area of areasList"
              value="{{area.id}}"
              >{{area.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input
            class="margin-input"
            label-placement="floating"
            fill="outline"
            label="العنوان"
            [(ngModel)]="user.address"
            [clearInput]="true"
            placeholder="أدخل عنوانك"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="margin-input"
            label-placement="floating"
            fill="outline"
            label="موبايل أو بريد الدخول"
            [(ngModel)]="user.email"
            [clearInput]="true"
            placeholder="أدخل موبايلك او بريدك للدخول على المنصة"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            class="margin-input"
            label-placement="floating"
            fill="outline"
            label="كلمة المرور"
            [(ngModel)]="user.password"
            placeholder="أدخل كلمة مرور قوية"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>
      <p class="error">{{user.$error}}</p>
      <ion-button expand="block" color="secondary" (click)="updateUser(user)">
        تعديل
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-row>
</ion-content>
