<ion-content [fullscreen]="true" class="ion-padding main-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="div-main">
    <ion-row class="main-row">
      <div id="container" class="container">
        <ion-img class="main-img" [src]="lecture.imageUrl"> </ion-img>
        <ion-text><p class="main-name">{{lecture.name}}</p></ion-text>
        <div class="bg-data">
          <ion-text
            ><p class="main-time">
              <ion-icon name="time-outline"></ion-icon> {{lecture.$time}}
            </p></ion-text
          >
          <ion-text class="main-price">
            <span>السعر</span>
            <span class="green"> {{lecture.price}} ج.م</span>
          </ion-text>

          <ion-text class="code">
            <span>الكود #</span>
            <span class="code-text"> {{lecture.code}}</span>
          </ion-text>
        </div>
        <ion-text>
          <p class="text-description">{{lecture.description}}</p>
        </ion-text>
        <ion-card
          *ngIf="lecture.linksList && lecture.linksList.length > 0 && (lecture.$buy || lecture.type.name == 'public')"
        >
          <ion-card-title>الفيديوهات المسجلة</ion-card-title>
          <ion-card-content>
            <ion-list>
              <ion-item
                class="item-link"
                *ngFor="let link of lecture.linksList"
              >
                <ion-button
                  expand="block"
                  class="font-large"
                  (click)="openVideo(link)"
                  >{{link.name}} <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
                <ion-label *ngIf="lecture.typeExpiryView.name == 'number'"
                  >المشاهدات المتبقية {{link.remainNumber}}</ion-label
                >
                <ion-label *ngIf="lecture.typeExpiryView.name == 'day'"
                  >الأيام المتبقية {{link.remainDay}}</ion-label
                >
                <ion-label *ngIf="lecture.typeExpiryView.name == 'date'">
                  إنتهاء المشاهدات في {{link.remainDate | date : ' dd / MM
                  /yyyy'}}</ion-label
                >
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card
          *ngIf="lecture.filesList && lecture.filesList.length > 0 && (lecture.$buy || lecture.type.name == 'public')"
        >
          <ion-card-title>تحميل الملفات</ion-card-title>
          <ion-card-content>
            <ion-list>
              <ion-item class="item-link" *ngFor="let f of lecture.filesList">
                <a class="full-width" href="{{f.$url}}">
                  <p class="file">
                    <span>{{f.title}}</span>
                    <span class="left"
                      >تنزيل الملف<ion-icon name="download-outline"></ion-icon
                    ></span>
                  </p>
                </a>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <div *ngIf="quiz && quiz.id">
          <p class="file">
            درجة الإختبار
            <span class="degree bg-green" *ngIf="quiz.userDegree >= 50"
              >{{quiz.userDegree}}</span
            >
            <span class="degree bg-red" *ngIf=" 50 > quiz.userDegree "
              >{{quiz.userDegree}}</span
            >
            %
          </p>
          <p class="file">
            إتاحة إعادة الإختبار
            <span class="degree bg-main"
              >{{lecture.timesEnterQuiz - quiz.timesEnterQuiz}}</span
            >
          </p>
        </div>
      </div>
    </ion-row>
    <p class="error">{{error}}</p>
    <ion-button
      size="large"
      *ngIf="lecture.$buy && lecture.activateQuiz && (!quiz.id || lecture.timesEnterQuiz > quiz.timesEnterQuiz) "
      (click)="startQuiz()"
      expand="block"
      >بدأ الإختبار
      <ion-icon name="bag-check-outline"></ion-icon>
    </ion-button>
    <ion-button
      size="large"
      *ngIf="!lecture.$buy && isite.userSession && isite.userSession.type =='student' && isite.userSession.placeType !='online' && lecture.type && lecture.type.name != 'public'"
      (click)="setOpen(true,'buyModal')"
      class="buy-button"
      expand="block"
      >شراء
      <ion-icon name="bag-check-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-modal [isOpen]="videoModal">
  <ng-template>
  
    <ion-content class="ion-padding">
      <iframe
        id="video_{{videoCode}}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        width="100%"
        height="100%"
      ></iframe>
      <!-- <video
        id="vid1"
        class="video-js vjs-default-skin"
        controls
        autoplay
        width="100%"
        height="100%"
        data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=B9ufyrmBrQ4"}] }'
      ></video> -->
      <p class="error">{{error}}</p>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-modal [isOpen]="buyModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>كود الشراء</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false,'buyModal')">إغلاق</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p class="buy-text">{{isite.setting.textPurchaseByCode}}</p>
      <ion-item>
        <ion-select
          interface="action-sheet"
          (ionChange)="changePurchaseType(purchase.$purchaseType)"
          [(ngModel)]="purchase.$purchaseType"
          placeholder="إختر نوع الشراء"
        >
          <div slot="label">
            نوع الشراء <ion-text color="danger">(مطلوب)</ion-text>
          </div>
          <ion-select-option
            *ngFor="let purchaseType of purchaseTypeList"
            value="{{purchaseType.name}}"
            >{{purchaseType.nameAr}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <p class="purchase-text" *ngIf="purchase.purchaseType.accountName">إسم الحساب : <span class="code-text">{{purchase.purchaseType.accountName}}</span></p>
          <p class="purchase-text" *ngIf="purchase.purchaseType.accountNumber">رقم الحساب : <span class="code-text">{{purchase.purchaseType.accountNumber}}</span></p>
      <ion-item
        *ngIf="purchase.$purchaseType && purchase.$purchaseType == 'code'"
      >
        <ion-input
          label-placement="floating"
          fill="outline"
          label="كود الشراء"
          [(ngModel)]="purchase.code"
          [clearInput]="true"
          placeholder="أدخل كود الشراء"
        ></ion-input>
      </ion-item>

      <ion-item
        *ngIf="purchase.$purchaseType && purchase.$purchaseType != 'code'"
      >
        <ion-input
          class="margin-input"
          label-placement="floating"
          fill="outline"
          type="tel"
          label="الرقم المحول منه"
          [(ngModel)]="purchase.numberTransferFrom"
          [clearInput]="true"
          placeholder="الرقم المحول منه"
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="purchase.$purchaseType && purchase.$purchaseType != 'code'">
        <div (click)="selectImage('image')" class="upload-img">
          <p>
            صورة التحويل
            <ion-icon name="camera-outline"></ion-icon>
          </p>
          <img class="img-upload" [src]="purchase.$_imageUrl" />
        </div>
      </ion-item>

      <p class="error">{{error}}</p>

      <ion-button (click)="buyLecture('')" class="buy-button" expand="block">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        تأكيد الشراء
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-modal [isOpen]="quizModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>إجراء إختبار</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p class="timer">{{minute}} : {{secound}}</p>
      <ion-item *ngFor="let question of quiz.questionsList">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              class="right font-larger"
              *ngIf="question.questionType.name=='text'"
            >
              {{question.name}}
            </ion-card-subtitle>
            <ion-img
              class="zoom"
              *ngIf="question.questionType.name=='photo'"
              [src]="question.imageUrl"
            >
            </ion-img>
            <ion-card-title class="right"
              >{{question.numbering}}</ion-card-title
            >
          </ion-card-header>

          <ion-card-content>
            <ion-item
              *ngFor="let answer of question.answersList; let i = index"
            >
              <ion-checkbox
                (ionChange)="checkCorrect(question.answersList,i)"
                justify="end"
                [(ngModel)]="answer.userAnswer"
                >{{answer.numbering}} - {{answer.name}}</ion-checkbox
              >
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <p class="error">{{error}}</p>

      <ion-button (click)="finishQuiz(quiz)" class="buy-button" expand="block">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        إنهاء الإختبار
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
