.main-row {
  /* margin-bottom: 90px; */
}
.item-native {
  background-color: #eceff5;
}
.font-larger {
  font-size: larger;
}
.error {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: larger;
}
.timer {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: x-large;
  background: red;
  border-radius: 10px;
  padding: 5px;
}

.item-link {
  margin: unset;
}
.right {
  text-align: right;
}
.code {
  display: block;
  font-weight: bold;
  font-size: 23px;
  margin-right: 10px;
  padding: 10px;
}
.code-text {
  color: gray;
  user-select: all;
}
ion-item {
  /* margin: 5%; */
 /*  ion-img {
    width: 20vw;
    height: 20vh;
    display: block;
  } */
  ion-label {
    display: block;
    width: 100vw;
    text-align: center;
    line-height: 1.8;
  }
}
.zoom {
  transition: transform 0.4s;
  width: 100% !important;
  height: 180px !important;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Safari 3-8 */
  transform: scale(1.8);
}


.main-content {
  top: 90px;
}
.degree {
  color: white;
    padding: 7px;
    border-radius: 25px
}
.bg-red {
  background: red;
}
.bg-green {
  background: green;
}
.bg-main {
  background: #2087e7;
}
ion-card-content {
  margin: 0px;
  padding: 0px;
}
ion-card {
  width: 100%;
  margin: 0px;
  background-color: #eceff5;
}
.main-name {
  font-size: 35px;
  font-weight: bold;
  color: #2087e7;
  margin: 10px;
  margin-right: 20px;
}
ion-card-title {
  padding: 10px 10px 0px 0px;
}
.bg-data {
  background-color: #fffaed;
  border-radius: 13px;
  margin: 15px;
}
.main-time {
  color: #919191;
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
  padding: 10px;
}
.container {
  width: 100%;
}

.main-price {
  font-weight: bold;
  font-size: 23px;
  margin-right: 10px;
  padding: 10px;
}
.green {
  color: green;
}
.red {
  color: red;
}
a {
  text-decoration: none;
}
.file {
  border: 1px dashed;
  padding: 10px;
  border-radius: 10px;
  background-color: #eceff5;
  font-size: larger;
  display: flow-root;
}
.left {
  float: left;
}
.text-description {
  color: #5a6257;
  font-size: 24px;
  padding: 15px;
  margin-right: 10px;
  font-family: cursive;
  white-space: pre-wrap;
}
.div-main {
  margin-bottom: 110px;
}

.buy-text {
  background: linear-gradient(to bottom, #70b8fb 0%, #1475cf 100%);
  color: white;
  text-align: center;
  font-size: x-large;
  padding: 10px;
  white-space: inherit;
  border-radius: 10px;
}
.has-focus.input-fill-outline.ion-valid.sc-ion-input-md-h,
.input-fill-outline.ion-touched.ion-invalid.sc-ion-input-md-h {
  --border-color: blue;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: blue;
}
.font-large {
  font-size: large;
}