<ion-content [fullscreen]="true">
  <div class="main-div-welcome">
    <ion-img
      class=""
      *ngIf="isite.setting.showBanner"
      [src]="isite.setting.bannerUrl"
    ></ion-img>
    <div
      class="phone-call cbh-phone cbh-green cbh-show cbh-static"
      *ngIf="isite.setting.whatsapp"
    >
      <a
        id="WhatsApp-button"
        href="https://wa.me/{{isite.setting.whatsapp}}"
        target="_blank"
        class="phoneJs"
        title="WhatsApp 360imagem"
      >
        <p>التواصل مع الدعم</p>
        <div class="cbh-ph-circle"></div>
        <div class="cbh-ph-circle-fill"></div>
        <div class="cbh-ph-img-circle1 whatsappLogo"></div
      ></a>
    </div>
    <div
      *ngIf="isite.setting.isShared && isite.session && !isite.session.selectedTeacherId"
    >
      <div class="banner-word">
        <span> المدرسين </span>
        <a class="banner-viewAll" [routerLink]="['/teachers']">مشاهدة الكل</a>
      </div>
      <ion-card
        class="center"
        *ngFor="let teacher of isite.teacherList"
        (click)="isite.selectTeacher(teacher.id)"
      >
        <img class="circle-img" [src]="teacher.imageUrl" />
        <ion-card-header class="center">
          <ion-card-title>{{teacher.firstName}}</ion-card-title>
        </ion-card-header>
        <p>{{teacher.title}}</p>
        <p>{{teacher.bio}}</p>
      </ion-card>
    </div>
    <div *ngIf="isite.userSession && isite.userSession.type == 'parent'">
      <ion-card
        class="center"
        *ngFor="let student of isite.studentList"
        [routerLink]="['/parent-report']"
        [queryParams]="{id: student._id}"
      >
        <img class="circle-img" [src]="student.imageUrl" />
        <ion-card-header class="center">
          <ion-card-title>{{student.firstName}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="center"
          >{{isite.setting.textOurPlacesTimes}}</ion-card-title
        >
      </ion-card-header>

      <ion-button expand="block" color="primary" [routerLink]="['/centers']"
        >مواعيدنا و أماكنا <ion-icon name="location-outline"></ion-icon
      ></ion-button>
    </ion-card>
    <ion-img class="" [src]="isite.setting.footerLogoUrl"></ion-img>
    <p class="center">
      <a
        class="pages"
        [routerLink]="['/page-view']"
        [queryParams]="{
        type: 'invite-friends'
      }"
        >أدع أصدقاءك</a
      >
      <a
        class="pages"
        [routerLink]="['/page-view']"
        [queryParams]="{
        type: 'join-us'
      }"
        >إنضم إلينا</a
      >
      <a
        class="pages"
        [routerLink]="['/page-view']"
        [queryParams]="{
      type: 'usage-agreement'
    }"
        >إتفاقية الإستخدام</a
      >
      <a
        class="pages"
        [routerLink]="['/page-view']"
        [queryParams]="{
    type: 'privacy-policy'
  }"
        >سياسة الخصوصية</a
      >
    </p>
    <p class="center">
      <a
        *ngIf="isite.setting.facebookAccount"
        class="social-logo facebook-logo"
        href="https://www.facebook.com/{{ isite.setting.facebookAccount }}"
        ><ion-icon name="logo-facebook"></ion-icon
      ></a>
      <a
        *ngIf="isite.setting.twitterAccouunt"
        class="social-logo twitter-logo"
        href="https://www.twitter.com/{{ isite.setting.twitterAccouunt }}"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
      <a
        *ngIf="isite.setting.instagramAccouunt"
        class="social-logo instagram-logo"
        href="https://www.instagram.com/{{
          isite.setting.instagramAccouunt
        }}"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a
        *ngIf="isite.setting.linkedinAccouunt"
        class="social-logo linkedin-logo"
        href="https://www.linkedin.com/in/{{
          isite.setting.linkedinAccouunt
        }}"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
      <a
        *ngIf="isite.setting.youTubeAccouunt"
        class="social-logo youtube-logo"
        href="https://www.youtube.com/{{ isite.setting.youTubeAccouunt }}"
        ><ion-icon name="logo-youtube"></ion-icon
      ></a>
    </p>
  </div>
</ion-content>
